/* created by Pashute*/

@font-face {
  font-family: "Bauhaus 93";
  src: url("../fonts/Bauhaus-93.ttf");
}

/* bg color: #A19D97 */

.hidetab {
    display: none;
}

.txt-center {
  text-align: center;
}
/* row centered horizontally */
.bar-center {
    /*width: 80% !important;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.stretcher {
   flex: 1;
}

.fontbau {
    font-size: 130%;
    font-family: "Bauhaus 93";
}

.bar-margins {
    margin-left: 20px;
    margin-right: 20px;
}

.topmargin {
    margin-top: 5px !important;
}

/* --- Accordion --- */
/* see https://github.com/munsterlander/Onsen-Examples/tree/master/Accordion-List */
.accordion {
    transition: 0.4s;
}


.accordion::before {
    margin-top: -3px;
    content: '\02795';
}

.accordion.active::before {
    content: '\2796';
}

div.panel {
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

.list__item__center {
    padding-left: 5px;
}

/* ----- override color and style ----  */

/*.segment__input:checked {
  background: olive;
}*/

.txt-ok{ color: black; }

/*button:active { background: olive; }*/
button { color: black !important; }
.toolbar-button{ color: #444444; }
.list-item{
  color: #444444; /*#A19D97*/
  /*color: rgba(38, 100, 171, .81);*/
}

.page{
  color: #444444; /*#A19D97*/
  /*color: rgba(38, 100, 171, .81);*/
}
/*
.tbar-center {
  text-align:center ;
  -webkit-box-flex: 0 1 auto ;
  -webkit-flex:  0 1 auto ;
  -moz-box-flex:  0 1 auto ;
  -moz-flex:  0 1 auto ;
  -ms-flex:  0 1 auto ;
  flex:  0 1 auto ;
  width: 50% ;
  margin:auto ;
}
*/
